node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

src/assets/trafic-signs-detector
src/assets/v5-detector
src/assets/v5-detector_2
src/assets/v5-detector_3/images/**
src/assets/v5-detector_4
src/assets/v5-detector_5
src/assets/v5-detector_6